#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0%;
  text-align: center;
  background-color: rgb(250, 250, 250);
}

body {
  background-color: rgb(250, 250, 250);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.navbar {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: space-between;
  padding: 0px;
  background-color: rgb(41, 41, 41);
  
}
.navbar a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

